body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background4.png")!important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
a.link{
    color: rgb(0, 202, 202)!important;
}
a.link:hover{
    color: aqua!important;
}
a.jumplink{
    color: rgb(202, 0, 0)!important;
}
a.jumplink:hover{
    color: red!important;
    text-decoration: underline red!important;
}
.scp{
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0;
    height: 100%;
}
#scp173{
    z-index: -5;
}

.jumpscareimg{
    animation: jumpscare 10s forwards;
}

@keyframes jumpscare{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media only screen and (max-width: 350px) {
    .scp{
        height: 50%;
        margin-top: 350px;
    }
}