html {
    scroll-behavior: smooth;
  }
body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
video {
    max-width: 100%;
    height: auto;
  }
.bg-custom1 {
    background-color: #141414;
}
.text-custom1{
    color:aqua!important;
}
.card-link {
    color: rgb(0, 202, 202);
    padding-left: 30px;
}
.card-link:hover{
    text-decoration: none;
    color: aqua;
}
.card-body{
    color: white;
}
.center{
    display: flex;
    justify-content: center;
}
.odkazy{
    margin-top: auto;
    margin-bottom: auto;
}
.footerimage{
    margin-top: 10px;
}
a.footerodkazy{
    color: rgb(0, 202, 202)!important;
}
a.footerodkazy:hover{
    color: aqua!important;
}
/* Dočásné */

.docasne1:active{
    color: red!important;
}
.ndm{
    background-color: #141414;
}
.ndi{
    color: white;
}