body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
video {
    max-width: 100%;
    height: auto;
  }
.bg-custom1 {
    background-color: #141414;
}
.card-link {
    color: rgb(0, 202, 202);
    padding-left: 30px;
}
.card-link:hover{
    text-decoration: none;
    color: aqua;
}
.card-body{
    color: white;
}
.center{
    display: flex;
    justify-content: center;
}